.ButtonBox{
    max-width: 30rem;
    border-radius: 0.3rem;
    border: 1px solid #888;
    background-color: #fff;
    box-shadow: 0 0rem 0.4rem rgba(0,0,0,0.15);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 1rem;
    position: relative;
}
.ButtonBoxDeactivated{
    max-width: 30rem;
    border-radius: 0.3rem;
    border: 1px solid #888;
    background-color: #fff;
    box-shadow: 0 0rem 0.4rem rgba(0,0,0,0.15);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 1rem;
    opacity: 0.5;
    position: relative;
}
.ButtonBox:hover{
    box-shadow: 0 0rem 0.43rem rgba(0,0,0,0.2);
    cursor: pointer;

}