.GameContainer{
  padding: 1rem;
  border: 1px solid #44475a;
  border-radius: 0.4rem;
  box-shadow: 0 0rem 0.4rem rgba(0,0,0,0.15);
  background-color: white;
}
  

  .linkcontainer{
    margin-bottom: 1rem;
  }
  
  
  
  .App {
    text-align: center;
  }
  
  

  .Column{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    width: 900px;
  }
  
  